/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 2, 6);
  color: #3a3b49;
  height: 10vh;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.user-greeting {
  width: 20%;
  display: flex-start;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

.money-spent {
  font-size: 15px;
}

.form-container {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5c3c31c;
}

.user-inputs {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid; */
  border-radius: 80px;
  margin-bottom: 35px;
  height: 9vh;
  width: 55vw;
  box-shadow: 0 10px 14px rgb(34 15 15 / 13%), 0 4px 14px rgb(0 0 0 / 22%)
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.number-input,
.date-input,
select {
  width: 10vw;
  height: 3vh;
}

.date-input {
  height: 3.1vh;
}

select {
  height: 3.3vh;
}

.search-button {
  height: 3.3vh;
  margin-top: 15px;
  width: 5vw;
  border-radius: 10px;
  border: none;
}

.trips-selector-container {
  display: flex;
  justify-content: center;
  margin: 80px 0;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-gap: 20px;
  padding: 20px;
  /* margin-top: 50px; */
  height: 100vh;
}

.trip-card {
  border: 1px solid;
  height: 60vh;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 10px 14px rgb(34 15 15 / 13%), 0 4px 14px rgb(0 0 0 / 22%)
}

.destination-image-container {
  height: 40%;
  border-bottom: 1px solid
}

h3 {
  font-size: 20px;
}

.destination-image {
  width: 100%;
  height: 100%;
}

.trip-info {
  background-color: #7aaaff;
  height: 36vh;
  color: #3a3b49;
  font-size: 30px
}

.message-to-user {
  font-size: 30px;
}

.no-trips-message {
  font-size: 50px;
}

.hidden {
  display: none;
}

.login-form {
  /* border: 1px solid red; */
  height: 50vh;
  width: 55vh;
  box-shadow: 0 10px 14px rgb(34 15 15 / 13%), 0 4px 14px rgb(0 0 0 / 22%);
  /* margin-top: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 35px;
  margin-bottom: 30px;
  width: 50%;
  height: 20%;
}

.login-input {
  width: 100%;
  height: 35%;
  margin-top: 10px;
  font-size: 50%;
}

.login-button {
  background-color: #64ca52;
  border: none;
  color: white;
  width: 44%;
  height: 7%;
  border-radius: 20px;
}

.login-error-message {
  font-size: 25px;
  margin-top: 10px;
  color: red;
}

.login-title {
  font-size: 50px;
  margin-top: 20px;
}